<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<h4>Some of the popular languages that Data Scientists use are:</h4>
<ol>
    <li>SQL</li>
    <li>Python</li>
    <li>R</li>
</ol>

<h4>Some of the popular libraries that Data Scientists use are:</h4>
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>PyTorch</li>
</ol>

#### Data Science Tools

<table align="left">
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>Apache Spark</td>
  </tr>
  <tr>
    <td>Tableau</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17